.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
*.log
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user
